.navbar h2 {
    color: #1d4ed8;
    padding-left: 3%;
}

.New-button {
    border-radius: 10%;
    background-color: rgb(255, 255, 255);
    border: 0px solid rgb(170, 160, 160);
    margin-top: 3%;
    margin-left: 90%;
    cursor: pointer;
}

.New-button div {
    margin-right: 20%;
    color: black;
    border: 1px solid gray;
    background-color: rgba(255, 255, 255, 0.556);
    padding: 6%;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    /* Gradient color  */
    font-weight: bolder;
    font-size: bold;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    /*Hide text actual color*/

}

.New-button div:hover {
    background-color: #c1c1c1;
    box-shadow: 20px 20px 60px #00000041, inset -20px -20px 60px #ffffff40;
    text-align: end;
}


/* Home.js */
.Home {
    padding: 3%;
}

.Home h2 {
    border: 1px;
    border-style: solid;
    border-color: #4361b6;
    padding: 3%;
    border-radius: 12px;
    color: rgb(23, 23, 25);
}

.Home h2 span {
    justify-content: left;
    align-items: flex-end;
}

.navlink {
    text-decoration: none;
}

.Routines .navlink h2:hover {
    background-color: #1d4ed8;
    color: white;
}
.add_alarm_heading{
    padding-left: 2%;
}
.add_alarm_heading .add_alarm_data{
    padding-left: 3%;
}
.add_alarm_data{
    padding-left: 2%;
    border: 1px solid rgb(114, 111, 111);
    border-radius: 9px;
}
.add_alarm_data :hover{
    border-color: aqua;
    background-color: rgb(135, 204, 204);
}
.add_alarm_data :hover{
    background-color: #5171c8;
}
#Alarm_container{
    background-color: rgb(252, 251, 251);
    border: 2px solid rgb(76, 71, 71);
    border-radius: 15px;
    margin: 1%;
    margin-right: 60%;
}
#Alarm_container h1{
    padding-left: 2%;
}
#Alarm_container p{
    padding-bottom:0%;
    padding-top: 1%;
    padding-left: 2%;
}

